[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[requires]
python_version = "3.8"

[packages]
sacn = "*"
aubio = "*"
python-dateutil = "*"
pytz = "*"
flask = "*"
marshmallow = "*"
SoundCard = "*"
spotipy = "*"
flask-socketio = "*"
