body {
  font-family: Roboto, sans-serif;
  background: #3B384A;
  color: #fff;
  line-height: 1.5;
}

h1 {
  font-weight: bold;
  margin: 0;
  font-size: 100%;
}

.next-button {
  margin-top: 10px;
  background: #6E6C79;
  border: 0;
  font: inherit;
  color: inherit;
  padding: 6px 20px;
  border-radius: 10px;
}
